body{
    background-color: rgb(185, 185, 185);
}

.footer{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons{
    width: 15rem;
    display: flex;
    justify-content: end;
}

.logo{
    width: 10rem;
    display: flex;
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: auto;
}


.home{
    color: rgb(46, 97, 113);
    font-size: 5rem;
    margin-left: auto;
    margin-right: auto;
  
}

.header{
    display: flex;
    align-items: center;
    
}

.line{
    background-color: black;
}

.me{
    display: block;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.Jehad{
    color: rgb(46, 97, 113);
    font-size: 8rem;
    text-align: center;
}

.about{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    font-size: 5rem;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
}

.contact{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    font-size: 5rem;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
}

.mywork{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    font-size: 5rem;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
}


