body{
    background-color: rgb(185, 185, 185);
}

:root {
    --mdc-theme-primary: rgb(46, 97, 113);
    --mdc-theme-secondary:  rgb(185, 185, 185);
}

@media only screen and (max-width: 600px) {

    body{
        background-color: var(--mdc-theme-secondary);
    }

.footer{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons{
    width: 10rem;
    display: flex;
    justify-content: end;
}

.logo{
    width: 10rem;
    display: flex;
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: auto;
}


.home{
    color: var(--mdc-theme-primary);
    font-size: 5rem;
    margin-left: auto;
    margin-right: auto;
  
}

.header{
    display: flex;
    align-items: center;
    
}

.line{
    background-color: black;
    width: 100%;
}

.me{
    display: block;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.Jehad{
    color: var(--mdc-theme-primary);
    font-size: 8rem;
    text-align: center;
}

.menu-item{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    font-size: 5rem;
    width: 30rem;
    padding:0px;
    margin: 10px auto;
}

.list{
    padding: 0%;
}

.resume{
    width: 35rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.touch{
    background-color: white;
    text-align: center;
    font-size: 2rem;
}

.form{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.us{
    display: block;
    margin: auto;
    font-size: 2rem;
    border-radius: 100px;
}

.projects{
    display: flex;
    flex-direction: column;
    
}

.doom{
    width: 50%;
    margin: auto;
    font-size: 2rem;
    border-radius: 100px;
}

.judo{
    width: 50%;
    margin: auto;
    font-size: 2rem;
    border-radius: 100px;
}

.boot{
    width: 50%;
    margin: auto;
    font-size: 2rem;
    border-radius: 100px;
}

.meabout{
    display: none;
}

.desktoplist{
    display: none;
}

.topline{
    display: none;
}

.mecontact{
    width: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info{
    display: none;
}

.dtboot{
    display: none;
}

.dtjudo{
    display: none;
}

.dtdoom{
    display: none
}
}

@media only screen and (min-width: 599px){

    body{
        background-color: var(--mdc-theme-secondary);
    }


    .footer{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .icons{
        width: 15rem;
        display: flex;
        justify-content: end;
    }
    
    .logo{
        width: 10rem;
        display: flex;
        align-self: flex-start;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    
    .home{
        color: rgb(46, 97, 113);
        font-size: 5rem;
        margin-left: auto;
        margin-right: auto;
      
    }
    
    .header{
        display: flex;
        align-items: center;
        
    }
    
    .line{
        background-color: black;
        width: 100%;
    }
    
    .me{
        display: block;
        width: 30rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .Jehad{
        color: rgb(46, 97, 113);
        font-size: 8rem;
        text-align: center;
    }
    
    .menu-item{
        text-decoration: none;
        list-style-type: none;
        text-align: center;
        background-color: white;
        border-radius: 50px;
        font-size: 5rem;
        width: 30rem;
        padding:0px;
        margin: 10px auto;
    }
    
    .list{
        padding: 0%;
        text-decoration: none;
    }


    .meabout{
        width: 35rem;
    }

    .resume{
        width: 40rem;
    }

    .meresume{
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }

    .touch{
        background-color: white;
        text-align: center;
        font-size: 2rem;
        color: var(--mdc-theme-primary);
    }

    .desktoplist{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-right: auto;
        margin-left: auto;
        text-decoration: dotted;
    }

    .desktopabout{
        text-decoration: none;
        background-color: white;
        border-radius: 20px;
        font-size: 2.5rem;
        width: 8rem;
        text-align: center;
    }

    .desktopcontact{
        text-decoration: none;
        background-color: white;
        border-radius: 20px;
        font-size: 2.5rem;
        width: 8rem;
        text-align: center;
    }

    .desktopwork{
        text-decoration: none;
        background-color: white;
        border-radius: 20px;
        font-size: 2.5rem;
        width: 10rem;
        text-align: center;
    }

    .mecontact{
        width: 30rem;
        margin: 5rem;
        
    }

   .contactname{
    padding-top: 8rem;
    
   }

   .contactemail{
    padding-top: 5rem;
    
   }

   .contactphone{
    padding-top: 5rem;
    
   }

    .contactinfo{
        display: flex;
        align-items: center;
        
    }

    .form{
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        width: 35rem;
        margin: 5rem;
    }

    .us{
        width: 15rem;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        font-size: 2rem;
        margin: auto;
    }

    .projects{
       display: flex;
       justify-content: space-evenly;
    }

    .desktopbutton{
        display: flex;
        justify-content: space-evenly;
    }

    .dtdoom{
       border-radius: 20px;
       font-size: 2rem;
       
    }

    .dtjudo{
        border-radius: 20px;
        font-size: 2rem;
    }

    .dtboot{
        border-radius: 20px;
        font-size: 2rem;
    }

    .judo{
        display: none;
    }

    .doom{
        display: none;
    }

    .boot{
        display: none;
    }

    .info{
        font-size: 2rem;
    }
}